<%unless events.nil? %>
  <div class="container-fluid text-center mb-5 mt-4 animate__bounce">
    <div class="row justify-content-around">
      <% events.each do |event| %>
            <div class="col-md-4 mt-4">
              <div class="card border h-100">
                <img src="https://source.unsplash.com/350x350/?town?sig=<%=rand(1..50)%>" class="img-fluid" alt="Image temoignage 1" >
                <div class="card-body">
                  <h5 class="card-title text-start"><%=link_to event.title.capitalize, event_path(event) %></h5>
                  <p class="card-text text-start"><%= event.description %></p>
                  <p class="card-text text-start"><small class="text-muted">
                  Débute le <%=event.start_date.strftime('%Y-%m-%d')%> à <%=event.start_date.strftime('%H:%M')%> <br/>
                  Fini le <%=event.end_date.strftime('%Y-%m-%d')%> à <%=event.end_date.strftime('%H:%M')%> <br/>
                  </small></p>
                  <p class="card-text text-start"><small class="text-muted">Prix : <%=event.price%> € </small></p>
                  <p class="card-text text-start"><small class="text-muted">Organisateur : <%=link_to event.admin.full_name, user_path(event.admin)%></small></p>
                  

                  
                  <%if current_user == event.admin%>
                    <div class="d-flex justify-content-around mt-5">
                      <%= link_to 'Editer', edit_event_path(event), class:"btn btn-primary"%>
                      <%= button_to 'Suprimmer', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger"%>
                    </div>
                  <%else%>
                    <div class="container">
                      <%if current_user%>
                      <% if participate?(event, current_user)%>
                        <%=button_to event_attendance_path(event.id, find_attendance(event,current_user)), method: :delete, :class => "btn btn-outline-primary disliked" do %>
                        <i class="bi bi-bookmark-check-fill"></i>&nbsp; Ne plus participer<%end%>
                      <%else%>
                        <% if event.is_free?%>
                          <%=button_to event_attendances_path(event), method: :create, :class => "btn btn-primary disliked" do %>
                          <i class="bi bi-bookmark-plus"></i></i>&nbsp; Participer free <%end%>
                        <%else%>
                          <%=link_to new_event_order_path(event),:class => "btn btn-primary disliked" do %>
                          <i class="bi bi-bookmark-plus"></i></i>&nbsp; Participer <%end%>
                        <%end%>
                      <%end%>
                      <%end%>
                    </div>
                  <%end%>
                  
                </div>
              </div>
            </div>
          <% end %>
    </div>
  </div>
<% end %>